.logo {
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.post {
  width: 500px;
  /* padding: 10px; */
  /* text-align: center; */
  margin: 0 auto;
}

.title {
  margin: 0 auto;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.title #title {
  width: 80%;
  margin: 0;
}

.title #writer {
  width: 15%;
  margin: 0;
}

.contents textarea {
  width: 492px;
  height: 300px;
  resize: none;
}

.writer_date {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.buttons {
  margin: 0 auto;
  text-align: center;
}

.buttons input {
  background-color: rgb(255, 159, 159);
  border: 0;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  margin: 0 auto;
  cursor: pointer;
}
